<?xml version="1.0" encoding="utf-8"?>
<Media Key="f78bc419-931e-4b89-a5d0-90a6c8c3b2d2" Alias="Aaron" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/Aaron</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:54:21</CreateDate>
    <NodeName Default="Aaron" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3kwhavzz/image-106-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>