<?xml version="1.0" encoding="utf-8"?>
<Media Key="49a343ed-4893-4870-afd3-0b931bee2066" Alias="Aj carter" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/AjCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:53:57</CreateDate>
    <NodeName Default="Aj carter" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dyvfr0nu/image-104-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>