<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4b80f48-7539-47bd-88c2-60f38781b0df" Alias="banner4" Level="3">
  <Info>
    <Parent Key="10573244-fe31-4000-95ca-d96f6002dfe1">Banner</Parent>
    <Path>/WebsiteImages/Banner/banner4</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:45:04</CreateDate>
    <NodeName Default="banner4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xntfgva4/04.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>