<?xml version="1.0" encoding="utf-8"?>
<Media Key="d89ecfb0-3162-4e66-af27-309de7eb1eea" Alias="banner1" Level="3">
  <Info>
    <Parent Key="10573244-fe31-4000-95ca-d96f6002dfe1">Banner</Parent>
    <Path>/WebsiteImages/Banner/banner1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:44:33</CreateDate>
    <NodeName Default="banner1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iothk4cf/01.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>