<?xml version="1.0" encoding="utf-8"?>
<Media Key="e911300a-aac7-4d8a-8c22-f6c2a283c90c" Alias="banner3" Level="3">
  <Info>
    <Parent Key="10573244-fe31-4000-95ca-d96f6002dfe1">Banner</Parent>
    <Path>/WebsiteImages/Banner/banner3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:44:53</CreateDate>
    <NodeName Default="banner3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5fmouspa/03.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>