<?xml version="1.0" encoding="utf-8"?>
<Media Key="b336d70e-c607-4e2c-80b3-a3cfebc39250" Alias="banner5" Level="3">
  <Info>
    <Parent Key="10573244-fe31-4000-95ca-d96f6002dfe1">Banner</Parent>
    <Path>/WebsiteImages/Banner/banner5</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:45:16</CreateDate>
    <NodeName Default="banner5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5w5n0eza/05.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>