<?xml version="1.0" encoding="utf-8"?>
<Media Key="83769f8c-327f-48c9-af8a-00661b98f934" Alias="banner2" Level="3">
  <Info>
    <Parent Key="10573244-fe31-4000-95ca-d96f6002dfe1">Banner</Parent>
    <Path>/WebsiteImages/Banner/banner2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:44:43</CreateDate>
    <NodeName Default="banner2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p51j0i0y/02.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>