<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b421d03-1203-4d9f-8632-91b95dbfd95a" Alias="banner6" Level="3">
  <Info>
    <Parent Key="10573244-fe31-4000-95ca-d96f6002dfe1">Banner</Parent>
    <Path>/WebsiteImages/Banner/banner6</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:45:28</CreateDate>
    <NodeName Default="banner6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4b0ltoze/06.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>