<?xml version="1.0" encoding="utf-8"?>
<Media Key="adf929ef-047c-49f7-9f5c-e4221b3c9302" Alias="Brandon" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/Brandon</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:53:41</CreateDate>
    <NodeName Default="Brandon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/drabedk1/image-47-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>