<?xml version="1.0" encoding="utf-8"?>
<Media Key="616d1d39-6af6-4f83-83b6-57529c6b4880" Alias="Brandon Kerr" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:54:52</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zj0jnqor/mask-group-8-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>