<?xml version="1.0" encoding="utf-8"?>
<Media Key="bce16d77-f321-49d9-84e8-30141d517cd3" Alias="breadcrumb right" Level="3">
  <Info>
    <Parent Key="70d84950-a9f2-4664-bfb6-7c79387cc402">Breadcrumb</Parent>
    <Path>/WebsiteImages/Breadcrumb/breadcrumbRight</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:52:47</CreateDate>
    <NodeName Default="breadcrumb right" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qqcbuhag/right.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>