<?xml version="1.0" encoding="utf-8"?>
<Media Key="279eb3a4-c312-4560-ae4d-adf5d8e7122f" Alias="breadcrumb left" Level="3">
  <Info>
    <Parent Key="70d84950-a9f2-4664-bfb6-7c79387cc402">Breadcrumb</Parent>
    <Path>/WebsiteImages/Breadcrumb/breadcrumbLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:52:34</CreateDate>
    <NodeName Default="breadcrumb left" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k5nhlbzv/left.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>