<?xml version="1.0" encoding="utf-8"?>
<Media Key="a409f7b1-b5c9-4133-a782-5aabf020641a" Alias="Contact" Level="2">
  <Info>
    <Parent Key="e49f2038-0b4a-4ef5-9757-f7ea78770d89">Website Images</Parent>
    <Path>/WebsiteImages/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:56:11</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>