<?xml version="1.0" encoding="utf-8"?>
<Media Key="921e26bb-9486-4a7d-ab90-ab46890614cc" Alias="Cropped" Level="3">
  <Info>
    <Parent Key="4ce28be6-3d06-45b1-9876-9fd69980e696">Projects</Parent>
    <Path>/WebsiteImages/Projects/Cropped</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:48:53</CreateDate>
    <NodeName Default="Cropped" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>