<?xml version="1.0" encoding="utf-8"?>
<Media Key="deda2f37-0fdf-4cf1-bce1-481f9089ba4e" Alias="Dot map.svg (1)" Level="3">
  <Info>
    <Parent Key="e522ce15-90ac-4118-a94f-420635d0ad07">Success story</Parent>
    <Path>/WebsiteImages/SuccessStory/DotMapsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T16:12:42</CreateDate>
    <NodeName Default="Dot map.svg (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ywjhqpge/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>