<?xml version="1.0" encoding="utf-8"?>
<Media Key="da234289-8604-4b23-88af-c7339912787c" Alias="Dot map.svg" Level="3">
  <Info>
    <Parent Key="e522ce15-90ac-4118-a94f-420635d0ad07">Success story</Parent>
    <Path>/WebsiteImages/SuccessStory/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T16:11:12</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pp5jcoa5/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>