<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bb26fc2-00ed-49aa-bd76-b015c55e5def" Alias="hero main" Level="3">
  <Info>
    <Parent Key="2ed82219-519b-4bb6-a700-1c100b1faedf">Hero</Parent>
    <Path>/WebsiteImages/Hero/heroMain</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:46:12</CreateDate>
    <NodeName Default="hero main" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gedftc4k/sl-home2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>