<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ed82219-519b-4bb6-a700-1c100b1faedf" Alias="Hero" Level="2">
  <Info>
    <Parent Key="e49f2038-0b4a-4ef5-9757-f7ea78770d89">Website Images</Parent>
    <Path>/WebsiteImages/Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:45:41</CreateDate>
    <NodeName Default="Hero" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>