<?xml version="1.0" encoding="utf-8"?>
<Media Key="2abc1a33-9fed-4169-996d-f64531ed4b02" Alias="Img-1 1.png" Level="3">
  <Info>
    <Parent Key="6ac005c0-d194-4e36-b4bc-a4205440ac26">Trusted Clients</Parent>
    <Path>/WebsiteImages/TrustedClients/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T16:06:48</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xtipvhee/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>