<?xml version="1.0" encoding="utf-8"?>
<Media Key="8633faba-3585-4fa1-8d3b-537239a0eeea" Alias="Kevin Gardner" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:55:15</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jgjmqjvc/kevin-gardner-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>