<?xml version="1.0" encoding="utf-8"?>
<Media Key="305df743-3dda-4189-a0c7-47d6cd4961a7" Alias="Kevin Big" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/KevinBig</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:55:26</CreateDate>
    <NodeName Default="Kevin Big" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wcplneh3/kevin-gardner.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>