<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cd6d944-1b00-44d0-825a-bbcec22e1b6e" Alias="let us know white" Level="3">
  <Info>
    <Parent Key="b8fdc119-db05-4869-8185-121d65ea45fa">Let us know</Parent>
    <Path>/WebsiteImages/LetUsKnow/letUsKnowWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:52:09</CreateDate>
    <NodeName Default="let us know white" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w4yd1tbh/letusknowimagewhite.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>