<?xml version="1.0" encoding="utf-8"?>
<Media Key="839b7f25-f8a6-4d11-8a6e-1905d751177c" Alias="let us know standard" Level="3">
  <Info>
    <Parent Key="b8fdc119-db05-4869-8185-121d65ea45fa">Let us know</Parent>
    <Path>/WebsiteImages/LetUsKnow/letUsKnowStandard</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:51:54</CreateDate>
    <NodeName Default="let us know standard" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ylhai2b/letusknowstandard.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>