<?xml version="1.0" encoding="utf-8"?>
<Media Key="33a7623e-65f1-4d13-83ce-537ce70c5db9" Alias="LogoImage" Level="2">
  <Info>
    <Parent Key="49aa4ed1-1278-4659-bad0-44759f68a96e">Logo</Parent>
    <Path>/Logo/LogoImage</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:43:31</CreateDate>
    <NodeName Default="LogoImage" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zuffze4w/logo.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>