<?xml version="1.0" encoding="utf-8"?>
<Media Key="49aa4ed1-1278-4659-bad0-44759f68a96e" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:43:08</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>