<?xml version="1.0" encoding="utf-8"?>
<Media Key="f043c330-0a71-4e34-a2f1-814311482cda" Alias="Map" Level="3">
  <Info>
    <Parent Key="a409f7b1-b5c9-4133-a782-5aabf020641a">Contact</Parent>
    <Path>/WebsiteImages/Contact/Map</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:56:25</CreateDate>
    <NodeName Default="Map" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yovlqucw/map-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>