<?xml version="1.0" encoding="utf-8"?>
<Media Key="041693f0-f227-49cc-a423-95461fb70942" Alias="Miranda" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/Miranda</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:55:03</CreateDate>
    <NodeName Default="Miranda" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ap3p1jaa/img-4-2-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>