<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a135906-7495-4aca-9164-a94a08952f90" Alias="pj1" Level="3">
  <Info>
    <Parent Key="4ce28be6-3d06-45b1-9876-9fd69980e696">Projects</Parent>
    <Path>/WebsiteImages/Projects/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:48:17</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4uypqkvs/pj1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>