<?xml version="1.0" encoding="utf-8"?>
<Media Key="575cb4ae-ba4a-421a-8e28-f92d85db89a6" Alias="pj1" Level="4">
  <Info>
    <Parent Key="921e26bb-9486-4a7d-ab90-ab46890614cc">Cropped</Parent>
    <Path>/WebsiteImages/Projects/Cropped/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:49:06</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lxokp31n/pj1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>