<?xml version="1.0" encoding="utf-8"?>
<Media Key="70684442-29a7-438a-8f2d-76154473d6d5" Alias="pj2" Level="3">
  <Info>
    <Parent Key="4ce28be6-3d06-45b1-9876-9fd69980e696">Projects</Parent>
    <Path>/WebsiteImages/Projects/pj2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:48:27</CreateDate>
    <NodeName Default="pj2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wewjhuea/pj2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>