<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ba0266b-b330-4536-87ba-679f7b09d571" Alias="pj2" Level="4">
  <Info>
    <Parent Key="921e26bb-9486-4a7d-ab90-ab46890614cc">Cropped</Parent>
    <Path>/WebsiteImages/Projects/Cropped/pj2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:49:16</CreateDate>
    <NodeName Default="pj2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tbhfwoyx/pj2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>