<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a636538-5baa-46e4-8037-682efc7c7481" Alias="pj3" Level="4">
  <Info>
    <Parent Key="921e26bb-9486-4a7d-ab90-ab46890614cc">Cropped</Parent>
    <Path>/WebsiteImages/Projects/Cropped/pj3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:49:25</CreateDate>
    <NodeName Default="pj3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zmgjrkun/pj3.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>