<?xml version="1.0" encoding="utf-8"?>
<Media Key="040153c2-d776-40c5-a2a2-2274863d2bfe" Alias="pj4" Level="3">
  <Info>
    <Parent Key="4ce28be6-3d06-45b1-9876-9fd69980e696">Projects</Parent>
    <Path>/WebsiteImages/Projects/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:48:47</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ge3pvjcr/pj4.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>