<?xml version="1.0" encoding="utf-8"?>
<Media Key="76080aa9-fcaa-4c32-b01d-0de5919eb6da" Alias="pj4" Level="4">
  <Info>
    <Parent Key="921e26bb-9486-4a7d-ab90-ab46890614cc">Cropped</Parent>
    <Path>/WebsiteImages/Projects/Cropped/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:49:35</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ljrphvun/pj4.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>