<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ce28be6-3d06-45b1-9876-9fd69980e696" Alias="Projects" Level="2">
  <Info>
    <Parent Key="e49f2038-0b4a-4ef5-9757-f7ea78770d89">Website Images</Parent>
    <Path>/WebsiteImages/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:47:58</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>