<?xml version="1.0" encoding="utf-8"?>
<Media Key="033f84d6-3fbc-4835-b659-03c0d41bfc46" Alias="service image 1" Level="3">
  <Info>
    <Parent Key="bcb57245-c77a-455e-80e7-9bb0da2e2ffe">Service Images</Parent>
    <Path>/WebsiteImages/ServiceImages/serviceImage1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:46:57</CreateDate>
    <NodeName Default="service image 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/exwmji21/1.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>