<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e35aadd-9b09-4696-aac5-016df724445d" Alias="service image 2" Level="3">
  <Info>
    <Parent Key="bcb57245-c77a-455e-80e7-9bb0da2e2ffe">Service Images</Parent>
    <Path>/WebsiteImages/ServiceImages/serviceImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:47:05</CreateDate>
    <NodeName Default="service image 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f1bm2pro/2.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>