<?xml version="1.0" encoding="utf-8"?>
<Media Key="7db7a09a-26b9-4cf0-a7d3-80feb6358d52" Alias="service image 5" Level="3">
  <Info>
    <Parent Key="bcb57245-c77a-455e-80e7-9bb0da2e2ffe">Service Images</Parent>
    <Path>/WebsiteImages/ServiceImages/serviceImage5</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:47:37</CreateDate>
    <NodeName Default="service image 5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nheezxm4/5.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>