<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5ff3085-5fa4-47fc-8158-ced9a858337c" Alias="service image 6" Level="3">
  <Info>
    <Parent Key="bcb57245-c77a-455e-80e7-9bb0da2e2ffe">Service Images</Parent>
    <Path>/WebsiteImages/ServiceImages/serviceImage6</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:47:47</CreateDate>
    <NodeName Default="service image 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ozmairmd/6.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>