<?xml version="1.0" encoding="utf-8"?>
<Media Key="da80ee63-742f-4265-8ca1-adeaab21cbee" Alias="service image 4" Level="3">
  <Info>
    <Parent Key="bcb57245-c77a-455e-80e7-9bb0da2e2ffe">Service Images</Parent>
    <Path>/WebsiteImages/ServiceImages/serviceImage4</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:47:26</CreateDate>
    <NodeName Default="service image 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/scdhw4qi/4.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>