<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6bc740c-ee19-47ef-8001-2093b54b4e92" Alias="service image 3" Level="3">
  <Info>
    <Parent Key="bcb57245-c77a-455e-80e7-9bb0da2e2ffe">Service Images</Parent>
    <Path>/WebsiteImages/ServiceImages/serviceImage3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:47:15</CreateDate>
    <NodeName Default="service image 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/52oeobr4/3.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>