<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcb57245-c77a-455e-80e7-9bb0da2e2ffe" Alias="Service Images" Level="2">
  <Info>
    <Parent Key="e49f2038-0b4a-4ef5-9757-f7ea78770d89">Website Images</Parent>
    <Path>/WebsiteImages/ServiceImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:46:33</CreateDate>
    <NodeName Default="Service Images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>