<?xml version="1.0" encoding="utf-8"?>
<Media Key="997e9309-30a8-4540-98cf-84d9c825b286" Alias="Sidebar" Level="2">
  <Info>
    <Parent Key="e49f2038-0b4a-4ef5-9757-f7ea78770d89">Website Images</Parent>
    <Path>/WebsiteImages/Sidebar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:52:58</CreateDate>
    <NodeName Default="Sidebar" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>