<?xml version="1.0" encoding="utf-8"?>
<Media Key="55b9e903-b6fb-46ce-9253-b137e060ffa5" Alias="signature" Level="3">
  <Info>
    <Parent Key="2ed82219-519b-4bb6-a700-1c100b1faedf">Hero</Parent>
    <Path>/WebsiteImages/Hero/signature</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:45:58</CreateDate>
    <NodeName Default="signature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4caff3o2/signature.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>