<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce05a97a-fcae-4a44-a610-44e763012c4c" Alias="Signature.PNG" Level="3">
  <Info>
    <Parent Key="2ed82219-519b-4bb6-a700-1c100b1faedf">Hero</Parent>
    <Path>/WebsiteImages/Hero/SignaturePNG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T16:05:37</CreateDate>
    <NodeName Default="Signature.PNG" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4vrfg4gh/signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>