<?xml version="1.0" encoding="utf-8"?>
<Media Key="e522ce15-90ac-4118-a94f-420635d0ad07" Alias="Success story" Level="2">
  <Info>
    <Parent Key="e49f2038-0b4a-4ef5-9757-f7ea78770d89">Website Images</Parent>
    <Path>/WebsiteImages/SuccessStory</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T16:10:36</CreateDate>
    <NodeName Default="Success story" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>