<?xml version="1.0" encoding="utf-8"?>
<Media Key="73a9fdcd-6b86-4b05-97e5-0aeff1c43c89" Alias="Tina" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/Tina</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:54:38</CreateDate>
    <NodeName Default="Tina" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h0kffu3b/img_choose_01_home01-2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>