<?xml version="1.0" encoding="utf-8"?>
<Media Key="611b8f4e-8ff0-4df8-ba28-d92b706d78be" Alias="Tina Large" Level="3">
  <Info>
    <Parent Key="12bbc661-61a1-418e-a6bc-320bdf7f6dda">About</Parent>
    <Path>/WebsiteImages/About/TinaLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:55:40</CreateDate>
    <NodeName Default="Tina Large" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxtpbqox/img_choose_01_home01-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>