<?xml version="1.0" encoding="utf-8"?>
<Media Key="f44953e9-1894-41fc-991e-87a9a1d5d7c0" Alias="trusted img" Level="3">
  <Info>
    <Parent Key="6ac005c0-d194-4e36-b4bc-a4205440ac26">Trusted Clients</Parent>
    <Path>/WebsiteImages/TrustedClients/trustedImg</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-24T15:51:09</CreateDate>
    <NodeName Default="trusted img" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/di3levft/img-1-1.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>