<?xml version="1.0" encoding="utf-8"?>
<Media Key="e49f2038-0b4a-4ef5-9757-f7ea78770d89" Alias="Website Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WebsiteImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-24T15:19:08</CreateDate>
    <NodeName Default="Website Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>