@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Core.Models



<div class="successtory-maincontainer-infobox">

        <p class="successtory-infobox-font-header">@Model.Content.Value("bigHeader")</p>
        <p class="successtory-infobox-font-subheader">@Model.Content.Value("infoText")</p>

</div>
