
.hero-button {
    background-color: #4f5a56;
    width: 10rem;
    height: 2.5rem;
    color: #f2eddc;
    border: none;
    font-weight: 600;
    font-size:1rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    cursor: pointer;
}
