<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77e95704-2749-482c-b815-bf548363bd75" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0a9704ce-354b-4e63-b151-c4e93ecb6822">homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9452b3db-fa7a-4ab3-9927-96bc8f3250b4" SortOrder="0">serviceListPage</ContentType>
    <ContentType Key="b7361f8b-d5b8-49bf-ab40-9b6e6cba645f" SortOrder="1">projectListPage</ContentType>
    <ContentType Key="4d9582f8-92d1-41f8-8953-ad150f0f5975" SortOrder="2">contactPage</ContentType>
    <ContentType Key="59ee4956-c743-4247-9e02-3864adc135e0" SortOrder="3">aboutPage</ContentType>
    <ContentType Key="f102ce76-c1c2-4324-8afc-24f00dd143a8" SortOrder="4">settingsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8e120f1e-d65a-4fd2-99a4-b1a3a05cf65d</Key>
      <Name>Home Page Container</Name>
      <Alias>homePageContainer</Alias>
      <Definition>ef763bc6-f101-4534-8d4b-e22409780665</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="container">Container</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>083eede6-39bd-4a6e-bcbe-a1f9f986f444</Key>
      <Caption>Container</Caption>
      <Alias>container</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>