

.footer-container {
    background-color: black;
    height: 3rem;
    color: #4f5a56;
    display:flex;
    justify-content:left;
    padding-left:10%;
    align-items:center;
    font-size:0.8rem;
}

@media screen and (max-width:620px){
    .footer-container{
        font-size:0.6rem;
    }
}