<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8545de18-0aee-45eb-a725-4210dfc92c41" Alias="Contact Page -  - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Contact Page -  - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "13999ecb-191d-49b5-9cc0-2df6e803cef1",
      "allowAtRoot": true,
      "label": "Banner Container",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>