<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef763bc6-f101-4534-8d4b-e22409780665" Alias="Homepage - Home Page Container - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Homepage - Home Page Container - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "d1e88d1d-725d-4c82-a497-44fad1b4f1da",
      "name": "Items"
    },
    {
      "name": "Layout",
      "key": "e20ac144-7588-41a7-82c5-c0a9dfa8a529"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "c9938316-eb51-45f0-a04b-984558876fd8",
      "allowAtRoot": true,
      "groupKey": "d1e88d1d-725d-4c82-a497-44fad1b4f1da",
      "allowInAreas": true,
      "label": "Hero"
    },
    {
      "contentElementTypeKey": "02086cf8-d549-4ab1-b858-995c67a116e5",
      "allowAtRoot": true,
      "groupKey": "d1e88d1d-725d-4c82-a497-44fad1b4f1da",
      "allowInAreas": true,
      "label": "About Us"
    },
    {
      "contentElementTypeKey": "3623da6b-308e-47c2-ae8b-938fe00b1247",
      "allowAtRoot": true,
      "groupKey": "d1e88d1d-725d-4c82-a497-44fad1b4f1da",
      "allowInAreas": true,
      "label": "Trusted By"
    },
    {
      "contentElementTypeKey": "355293ca-44f7-4685-8ffd-2dfb6bcc887a",
      "allowAtRoot": true,
      "groupKey": "d1e88d1d-725d-4c82-a497-44fad1b4f1da",
      "label": "Success Story Container",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6218e034-c052-4cfc-81fd-c682267b51af",
      "allowAtRoot": true,
      "groupKey": "d1e88d1d-725d-4c82-a497-44fad1b4f1da",
      "allowInAreas": true,
      "label": "Recent Project Infobox"
    },
    {
      "contentElementTypeKey": "13999ecb-191d-49b5-9cc0-2df6e803cef1",
      "allowAtRoot": true,
      "groupKey": "d1e88d1d-725d-4c82-a497-44fad1b4f1da",
      "allowInAreas": true,
      "label": "Banner Container"
    },
    {
      "contentElementTypeKey": "623351d2-4b42-4208-b15d-1d7d4e9f6ad7",
      "allowAtRoot": true,
      "groupKey": "e20ac144-7588-41a7-82c5-c0a9dfa8a529",
      "label": "Success Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "7ef8b759-86f2-4bd9-a276-aced2f28a1aa",
          "alias": "Info Box Success One",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "84f119a8-ee0f-4e1e-9949-dd5b9c7101f0",
          "alias": "Info Box Success Two",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "d706d361-3dfc-4488-8985-997cb6000e32",
          "alias": "Info Box Success Three",
          "columnSpan": 4,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "453b5712-190e-45fa-9b02-54a5d8baec0e",
      "allowAtRoot": true,
      "groupKey": "e20ac144-7588-41a7-82c5-c0a9dfa8a529",
      "label": "Our Services Container",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7fd30591-c39a-4f34-bfd2-6f2a3c5033ce",
      "allowAtRoot": true,
      "groupKey": "e20ac144-7588-41a7-82c5-c0a9dfa8a529",
      "allowInAreas": true,
      "areas": [
        {
          "key": "66329e65-f69d-4684-83ef-b5350c6a2fa5",
          "alias": "Hero",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "0bf15413-abc0-438e-989a-ef9f25a09edf",
          "alias": "About Us",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "53080d34-5e1c-47e7-aa69-6f045a830457",
          "alias": "Our Services",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "119e4083-262a-489d-97c5-25720c607c1c",
          "alias": "Trusted Area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "b721438e-1f2b-4022-a51a-c1ceb4a37bc2",
          "alias": "Success Story",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "2236287e-952a-42f2-aa77-7f9fc3039a2b",
          "alias": "Our Projects",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "921bbe80-69f3-462c-aa5d-8f7b67a9762c",
          "alias": "Banner",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "e6cd8ca4-2ba4-4431-b6e7-de537b22891c",
      "allowAtRoot": true,
      "groupKey": "e20ac144-7588-41a7-82c5-c0a9dfa8a529",
      "allowInAreas": true,
      "label": "Recent Project Container",
      "areas": [
        {
          "key": "565106b9-6460-424a-9e3c-4119bf2c166a",
          "alias": "Recent Projects Box One",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "d01c025a-db30-42ab-a819-49fff129ae86",
          "alias": "Recent Projects Box Two",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "a927bdc8-2e5d-4d3a-8b09-84e1b55626d0",
          "alias": "Recent Projects Box Three",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "87c75318-78c7-4a2c-86f7-7526a9629598",
          "alias": "Recent Projects Box Four",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12,
  "useLiveEditing": true
}]]></Config>
</DataType>