<?xml version="1.0" encoding="utf-8"?>
<Content Key="8113ec15-c4de-4f9e-bfcb-aae647500971" Alias="Aaron Lambert" Level="3">
  <Info>
    <Parent Key="347dbc03-de3c-46a4-b779-12a5b12ad24a">About</Parent>
    <Path>/Home/About/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutItemTemplate</ContentType>
    <CreateDate>2024-09-24T16:32:48</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imagePerson>
      <Value><![CDATA[[
  {
    "key": "91640868-8e80-4429-92d1-d2784e3e78fc",
    "mediaKey": "49a343ed-4893-4870-afd3-0b931bee2066",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePerson>
    <jobTitle>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </jobTitle>
    <namePerson>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </namePerson>
  </Properties>
</Content>