<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e35e44c-107d-4cf1-9379-8ce9fc9788e5" Alias="AJ Carter" Level="3">
  <Info>
    <Parent Key="347dbc03-de3c-46a4-b779-12a5b12ad24a">About</Parent>
    <Path>/Home/About/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutItemTemplate</ContentType>
    <CreateDate>2024-09-24T16:32:29</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imagePerson>
      <Value><![CDATA[[
  {
    "key": "d1817c75-f955-4af0-9532-96fcd0d0b75c",
    "mediaKey": "f78bc419-931e-4b89-a5d0-90a6c8c3b2d2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePerson>
    <jobTitle>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </jobTitle>
    <namePerson>
      <Value><![CDATA[AJ Carter]]></Value>
    </namePerson>
  </Properties>
</Content>