<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd9dd562-c6ab-45b9-ae64-8fa12d9a4b10" Alias="Brandon Kerr" Level="3">
  <Info>
    <Parent Key="347dbc03-de3c-46a4-b779-12a5b12ad24a">About</Parent>
    <Path>/Home/About/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutItemTemplate</ContentType>
    <CreateDate>2024-09-24T16:33:29</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imagePerson>
      <Value><![CDATA[[
  {
    "key": "dcadbe74-fa32-46fd-bb26-03da75cc5cb8",
    "mediaKey": "616d1d39-6af6-4f83-83b6-57529c6b4880",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePerson>
    <jobTitle>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </jobTitle>
    <namePerson>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </namePerson>
  </Properties>
</Content>