<?xml version="1.0" encoding="utf-8"?>
<Content Key="19b8b7da-5e66-4c74-b9f2-390c0521f370" Alias="Brandon Newton" Level="3">
  <Info>
    <Parent Key="347dbc03-de3c-46a4-b779-12a5b12ad24a">About</Parent>
    <Path>/Home/About/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutItemTemplate</ContentType>
    <CreateDate>2024-09-24T16:32:08</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imagePerson>
      <Value><![CDATA[[
  {
    "key": "ecbc4967-f267-40c5-96da-775472db8d94",
    "mediaKey": "adf929ef-047c-49f7-9f5c-e4221b3c9302",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePerson>
    <jobTitle>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </jobTitle>
    <namePerson>
      <Value><![CDATA[Brandon Newton]]></Value>
    </namePerson>
  </Properties>
</Content>