<?xml version="1.0" encoding="utf-8"?>
<Content Key="ade8e4a9-e071-43bc-b144-f5013ea00815" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5c3b1be3-747d-4555-86c4-6e4e9405c098">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-24T16:36:35</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0fcf3a0b-72ab-4177-bf52-321857f8b7d2">contactPage</Template>
  </Info>
  <Properties>
    <backgroundImageContainer>
      <Value><![CDATA[[
  {
    "key": "f9ca0fc7-53c0-4ba1-8007-4c06182540df",
    "mediaKey": "f043c330-0a71-4e34-a2f1-814311482cda",
    "mediaTypeAlias": "File",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImageContainer>
    <bigHeader>
      <Value><![CDATA[Let us know about your  next project]]></Value>
    </bigHeader>
    <contactFormBanner>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "13999ecb-191d-49b5-9cc0-2df6e803cef1",
      "udi": "umb://element/880315cb02de4c118e8a824a5bb20354",
      "imageOne": "[{\u0022key\u0022:\u00226350904b-efe9-41b8-8526-1e26b0eed734\u0022,\u0022mediaKey\u0022:\u0022d89ecfb0-3162-4e66-af27-309de7eb1eea\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageTwo": "[{\u0022key\u0022:\u0022b93acfe3-17f7-49cf-abe5-b4298606d301\u0022,\u0022mediaKey\u0022:\u002283769f8c-327f-48c9-af8a-00661b98f934\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageThree": "[{\u0022key\u0022:\u002208d13661-e73c-43be-94a3-5f70faaa182e\u0022,\u0022mediaKey\u0022:\u0022e911300a-aac7-4d8a-8c22-f6c2a283c90c\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageFour": "[{\u0022key\u0022:\u00226ee49874-e97c-4c4b-9e44-2a243c88a5e8\u0022,\u0022mediaKey\u0022:\u0022f4b80f48-7539-47bd-88c2-60f38781b0df\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageFive": "[{\u0022key\u0022:\u0022583c6ab4-0839-421b-97a9-64cd77c007de\u0022,\u0022mediaKey\u0022:\u0022b336d70e-c607-4e2c-80b3-a3cfebc39250\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageSix": "[{\u0022key\u0022:\u002218ff6654-a73e-46f9-9043-bebfc69ff1dd\u0022,\u0022mediaKey\u0022:\u00221b421d03-1203-4d9f-8632-91b95dbfd95a\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/880315cb02de4c118e8a824a5bb20354",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </contactFormBanner>
    <generalText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus
]]></Value>
    </generalText>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <smallHeader>
      <Value><![CDATA[Request a call back]]></Value>
    </smallHeader>
  </Properties>
</Content>