<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c3b1be3-747d-4555-86c4-6e4e9405c098" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2024-09-24T16:03:21</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0a9704ce-354b-4e63-b151-c4e93ecb6822">homepage</Template>
  </Info>
  <Properties>
    <homePageContainer>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7fd30591-c39a-4f34-bfd2-6f2a3c5033ce",
      "udi": "umb://element/3993f8d71cc14c2abb21f1a49bf15bb0"
    },
    {
      "contentTypeKey": "c9938316-eb51-45f0-a04b-984558876fd8",
      "udi": "umb://element/51b3562441bd4687b06bcee27cf0f1f0",
      "header": "We bring success to you",
      "mainContent": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do \neiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim \nad minim",
      "buttonText": "Contact us",
      "image": "[{\u0022key\u0022:\u00226dba52a4-86ce-45c8-adb4-9c9585fed116\u0022,\u0022mediaKey\u0022:\u0022ec957c7d-8a70-45bb-951b-069d8af99085\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "02086cf8-d549-4ab1-b858-995c67a116e5",
      "udi": "umb://element/da3f9fd02f824550813a214e6fe927ad",
      "smallHeader": "About Us",
      "bigHeader": "We have 40 years experience",
      "cursiveHeader": "\u201CWe have over 25 years of experience providing expert financial \nadvice to both businesses and individuals.\u0022",
      "mainText": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint \noccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. \nSed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.",
      "imageSignature": "[{\u0022key\u0022:\u002240989a6a-5e3a-408b-8e3b-377112d5b612\u0022,\u0022mediaKey\u0022:\u0022ce05a97a-fcae-4a44-a610-44e763012c4c\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "signatureWritten": "Tina Fox - CEO \u0026 Founder"
    },
    {
      "contentTypeKey": "453b5712-190e-45fa-9b02-54a5d8baec0e",
      "udi": "umb://element/51fd107338bc44debbaedbd2cb0b318e",
      "smallHeader": "our services",
      "bigHeader": "We Provide The Solutions To Grow Your Business Faster"
    },
    {
      "contentTypeKey": "3623da6b-308e-47c2-ae8b-938fe00b1247",
      "udi": "umb://element/243c3cc255cd47259b52be02a2a4addc",
      "headerBigTrusted": "We are trusted by more than 4000\u002B clients",
      "mainTextTrusted": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam \naccumsanporttitor arcu,ac tincidunt lectus tincidunt sed.",
      "buttonTrusted": "Read Our Story",
      "imageTrusted": "[{\u0022key\u0022:\u00221d6135ab-2817-497c-8c52-cbc8c7c2e5d3\u0022,\u0022mediaKey\u0022:\u00222abc1a33-9fed-4169-996d-f64531ed4b02\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDots": "[{\u0022key\u0022:\u0022aa2192f5-8c59-4497-bc46-3b4ceca7f8b9\u0022,\u0022mediaKey\u0022:\u0022dec245da-c71d-496d-abc0-630ec1d5c30a\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "623351d2-4b42-4208-b15d-1d7d4e9f6ad7",
      "udi": "umb://element/7728f4725b4342d68d4dba5e504aa988",
      "successHeader": "success stories",
      "successBigHeader": "Success story",
      "successImage": "[{\u0022key\u0022:\u0022285d03f0-c6bb-48a5-8298-f1738089771c\u0022,\u0022mediaKey\u0022:\u0022ea1dccab-a8c3-4084-a5cf-592f1bac77ed\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "successImageBackground": "[{\u0022key\u0022:\u00224335c3b9-871b-4cda-b005-7771d3a3238a\u0022,\u0022mediaKey\u0022:\u0022da234289-8604-4b23-88af-c7339912787c\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "355293ca-44f7-4685-8ffd-2dfb6bcc887a",
      "udi": "umb://element/8a4e6943d92642f18e712e66c10035ea",
      "bigHeader": "689",
      "infoText": "More than 100 customers has been  served"
    },
    {
      "contentTypeKey": "355293ca-44f7-4685-8ffd-2dfb6bcc887a",
      "udi": "umb://element/0b68c3b98ce04aeabd029b9ed3ef45f5",
      "bigHeader": "370",
      "infoText": "More than 370 projects has been  completed"
    },
    {
      "contentTypeKey": "355293ca-44f7-4685-8ffd-2dfb6bcc887a",
      "udi": "umb://element/864c861d708b48f2a3ddd0b8055ab429",
      "bigHeader": "125",
      "infoText": "More than 125 branches has been  established in Europe and America"
    },
    {
      "contentTypeKey": "e6cd8ca4-2ba4-4431-b6e7-de537b22891c",
      "udi": "umb://element/b4f0ce9becb3428c9f7889b4a452f511",
      "smallHeader": "our projects",
      "bigHeader": "Recent projects"
    },
    {
      "contentTypeKey": "6218e034-c052-4cfc-81fd-c682267b51af",
      "udi": "umb://element/1324d66f1af44e7ea1a70be17137455b",
      "image": "[{\u0022key\u0022:\u0022e861a5c4-e9ef-4fb4-9ab1-30016ee7d578\u0022,\u0022mediaKey\u0022:\u00228a135906-7495-4aca-9164-a94a08952f90\u0022,\u0022mediaTypeAlias\u0022:\u0022File\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "bigHeader": "Annual Report for Juva Inc",
      "smallHeader": "Financial Services"
    },
    {
      "contentTypeKey": "6218e034-c052-4cfc-81fd-c682267b51af",
      "udi": "umb://element/538a81b96f0e429db66ece8c05eeecc2",
      "image": "[{\u0022key\u0022:\u002235cc40fa-b239-4baa-a319-6f530db3afa4\u0022,\u0022mediaKey\u0022:\u002270684442-29a7-438a-8f2d-76154473d6d5\u0022,\u0022mediaTypeAlias\u0022:\u0022File\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "bigHeader": "Business Insights for SP Group Inc.",
      "smallHeader": "Financial Services"
    },
    {
      "contentTypeKey": "6218e034-c052-4cfc-81fd-c682267b51af",
      "udi": "umb://element/89482f993bc44280aa44636644a1bed7",
      "image": "[{\u0022key\u0022:\u0022b5f8a329-d599-48f1-b38b-3d6d38710312\u0022,\u0022mediaKey\u0022:\u0022379a3315-63ab-4b64-b7d0-48bcf6e8e39a\u0022,\u0022mediaTypeAlias\u0022:\u0022File\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "bigHeader": "Financial Advisors to Irra Corp Inc.",
      "smallHeader": "Financial Services"
    },
    {
      "contentTypeKey": "6218e034-c052-4cfc-81fd-c682267b51af",
      "udi": "umb://element/6b7650a93d954f8f998929396f17a24f",
      "image": "[{\u0022key\u0022:\u002299919457-9fc5-49d0-b5ad-3b477d48a309\u0022,\u0022mediaKey\u0022:\u0022040153c2-d776-40c5-a2a2-2274863d2bfe\u0022,\u0022mediaTypeAlias\u0022:\u0022File\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "bigHeader": "Budget Planning for Buccura Inc.",
      "smallHeader": "Financial Services"
    },
    {
      "contentTypeKey": "13999ecb-191d-49b5-9cc0-2df6e803cef1",
      "udi": "umb://element/5e351187970e4023b0e6e521ed8b2689",
      "imageOne": "[{\u0022key\u0022:\u0022824b1650-784a-47b9-b3a4-ce52837d14a3\u0022,\u0022mediaKey\u0022:\u0022d89ecfb0-3162-4e66-af27-309de7eb1eea\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageTwo": "[{\u0022key\u0022:\u0022bb02ddf3-838b-4c39-9f9d-9c3c73f86823\u0022,\u0022mediaKey\u0022:\u002283769f8c-327f-48c9-af8a-00661b98f934\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageFour": "[{\u0022key\u0022:\u0022dbbee69d-7571-49b6-94f2-a6c3c41c09d2\u0022,\u0022mediaKey\u0022:\u0022f4b80f48-7539-47bd-88c2-60f38781b0df\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageThree": "[{\u0022key\u0022:\u00225b536281-69f5-4b6f-86b4-d16b3611a940\u0022,\u0022mediaKey\u0022:\u0022e911300a-aac7-4d8a-8c22-f6c2a283c90c\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageFive": "[{\u0022key\u0022:\u00227ffc2ead-a180-409a-95a8-7fe874672a54\u0022,\u0022mediaKey\u0022:\u0022b336d70e-c607-4e2c-80b3-a3cfebc39250\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageSix": "[{\u0022key\u0022:\u0022ebaccb08-2276-4a0b-8c34-83321bc85d6b\u0022,\u0022mediaKey\u0022:\u00221b421d03-1203-4d9f-8632-91b95dbfd95a\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3993f8d71cc14c2abb21f1a49bf15bb0",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "66329e65-f69d-4684-83ef-b5350c6a2fa5",
            "items": [
              {
                "contentUdi": "umb://element/51b3562441bd4687b06bcee27cf0f1f0",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "0bf15413-abc0-438e-989a-ef9f25a09edf",
            "items": [
              {
                "contentUdi": "umb://element/da3f9fd02f824550813a214e6fe927ad",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "53080d34-5e1c-47e7-aa69-6f045a830457",
            "items": [
              {
                "contentUdi": "umb://element/51fd107338bc44debbaedbd2cb0b318e",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "119e4083-262a-489d-97c5-25720c607c1c",
            "items": [
              {
                "contentUdi": "umb://element/243c3cc255cd47259b52be02a2a4addc",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          },
          {
            "key": "b721438e-1f2b-4022-a51a-c1ceb4a37bc2",
            "items": [
              {
                "contentUdi": "umb://element/7728f4725b4342d68d4dba5e504aa988",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "7ef8b759-86f2-4bd9-a276-aced2f28a1aa",
                    "items": [
                      {
                        "contentUdi": "umb://element/8a4e6943d92642f18e712e66c10035ea",
                        "settingsUdi": null,
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  },
                  {
                    "key": "84f119a8-ee0f-4e1e-9949-dd5b9c7101f0",
                    "items": [
                      {
                        "contentUdi": "umb://element/0b68c3b98ce04aeabd029b9ed3ef45f5",
                        "settingsUdi": null,
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  },
                  {
                    "key": "d706d361-3dfc-4488-8985-997cb6000e32",
                    "items": [
                      {
                        "contentUdi": "umb://element/864c861d708b48f2a3ddd0b8055ab429",
                        "settingsUdi": null,
                        "columnSpan": 4,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {
            "key": "2236287e-952a-42f2-aa77-7f9fc3039a2b",
            "items": [
              {
                "contentUdi": "umb://element/b4f0ce9becb3428c9f7889b4a452f511",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "565106b9-6460-424a-9e3c-4119bf2c166a",
                    "items": [
                      {
                        "contentUdi": "umb://element/1324d66f1af44e7ea1a70be17137455b",
                        "settingsUdi": null,
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  },
                  {
                    "key": "d01c025a-db30-42ab-a819-49fff129ae86",
                    "items": [
                      {
                        "contentUdi": "umb://element/538a81b96f0e429db66ece8c05eeecc2",
                        "settingsUdi": null,
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  },
                  {
                    "key": "a927bdc8-2e5d-4d3a-8b09-84e1b55626d0",
                    "items": [
                      {
                        "contentUdi": "umb://element/89482f993bc44280aa44636644a1bed7",
                        "settingsUdi": null,
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  },
                  {
                    "key": "87c75318-78c7-4a2c-86f7-7526a9629598",
                    "items": [
                      {
                        "contentUdi": "umb://element/6b7650a93d954f8f998929396f17a24f",
                        "settingsUdi": null,
                        "columnSpan": 3,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {
            "key": "921bbe80-69f3-462c-aa5d-8f7b67a9762c",
            "items": [
              {
                "contentUdi": "umb://element/5e351187970e4023b0e6e521ed8b2689",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </homePageContainer>
  </Properties>
</Content>