<?xml version="1.0" encoding="utf-8"?>
<Content Key="4494869e-508c-470a-985a-89faad2f7d36" Alias="Kevin Gardner" Level="3">
  <Info>
    <Parent Key="347dbc03-de3c-46a4-b779-12a5b12ad24a">About</Parent>
    <Path>/Home/About/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutItemTemplate</ContentType>
    <CreateDate>2024-09-24T16:34:07</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imagePerson>
      <Value><![CDATA[[
  {
    "key": "9923737d-c38b-4f17-b7fe-fc8cbfef5c15",
    "mediaKey": "8633faba-3585-4fa1-8d3b-537239a0eeea",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePerson>
    <jobTitle>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </jobTitle>
    <namePerson>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </namePerson>
  </Properties>
</Content>