<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dd4c66f-d2eb-42a0-b368-3a3c624d9728" Alias="Miranda Dayton" Level="3">
  <Info>
    <Parent Key="347dbc03-de3c-46a4-b779-12a5b12ad24a">About</Parent>
    <Path>/Home/About/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutItemTemplate</ContentType>
    <CreateDate>2024-09-24T16:33:48</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imagePerson>
      <Value><![CDATA[[
  {
    "key": "b7e16d41-f7a7-4dbf-8936-1f4b5de35f52",
    "mediaKey": "041693f0-f227-49cc-a423-95461fb70942",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePerson>
    <jobTitle>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </jobTitle>
    <namePerson>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </namePerson>
  </Properties>
</Content>