<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d2b9a88-d381-4f26-8f2a-76ef9a6247cb" Alias="Services" Level="2">
  <Info>
    <Parent Key="5c3b1be3-747d-4555-86c4-6e4e9405c098">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-24T16:23:58</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a474f2f-6048-47ce-a1e0-d17ce9cb9ccc">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[Services]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>