<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cecefa9-7186-4368-a403-72418f2873d3" Alias="Tina Fox" Level="3">
  <Info>
    <Parent Key="347dbc03-de3c-46a4-b779-12a5b12ad24a">About</Parent>
    <Path>/Home/About/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutItemTemplate</ContentType>
    <CreateDate>2024-09-24T16:33:08</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imagePerson>
      <Value><![CDATA[[
  {
    "key": "a0ca8c28-c0f0-48fc-a462-1400b5572746",
    "mediaKey": "73a9fdcd-6b86-4b05-97e5-0aeff1c43c89",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imagePerson>
    <jobTitle>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </jobTitle>
    <namePerson>
      <Value><![CDATA[Tina Fox]]></Value>
    </namePerson>
  </Properties>
</Content>