@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using Umbraco.Extensions


@{

    var Image = Umbraco.Media(Guid.Parse("fa2b3ef6-77b9-4597-a126-52e512ced526"));

}

<div class="how-can-we-help-container" style="background-image: url(@Image.Url()); background-repeat:no-repeat; background-position:right bottom">

    <p class="how-can-we-help-header">How can we help you?</p>
    <p class="how-can-we-help-sub-header">online support 24/7, we are here to help you</p>
    <input class="how-can-we-help-input" placeholder="E-mail address" type="email">


</div>